*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 80%;
    margin: 24px;
    padding: 34px;
    margin: auto;
    
}
.container h1,p{
    text-align: center;
   
}
input,textarea{
    font-size: 15px;
    width: 80%;
    margin: 11px;
    padding: 7px;
    border: solid 1px;
    border-radius: 7px;
    box-shadow: rgb(248, 248, 248) 10px;
    display: block;
    margin: 11px auto;
    background-color: rgb(244, 248, 255);
   
    
}
button{
    display: flex;
    align-items: center;
    margin: auto;
    background-color: white;
    width: 60px;
    height: 30px;
    display: block;
    border-radius: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px white;
}
.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -3;
    opacity: 0.8;
}
